
MainWindow {
  /* background-color: #FDF7D8; */
  background-color: #ffffff;
}

QListWidget::item:hover {
  background-color: #E1E1E1;
}

QPushButton#playButton {
  border-radius: 5px;
  background-color: #65D56C;
}

QTableWidget::item:hover {
  background-color: rgba(0, 100, 200, .4);
}
